{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth account %}

{% block title %}{% translate "Sign In" %}{% endblock title %}

{% block content %}
<div class="flex min-h-full flex-col px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{% translate "Enter Sign-In Code" %}</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <p class="mb-8 text-center text-sm text-gray-600">
      {% blocktranslate %}We've sent a code to <a href="mailto:{{ email }}" class="font-medium text-indigo-600 hover:text-indigo-500">{{ email }}</a>. The code expires shortly, so please enter it soon.{% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_confirm_login_code' %}" class="space-y-6">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </h3>
            </div>
          </div>
        </div>
      {% endif %}

      <div>
        <label for="{{ form.code.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{% translate "Sign-In Code" %}</label>
        <div class="mt-2">
          {% render_field form.code type="text" required=True class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
        </div>
        {% if form.code.errors %}
          <p class="mt-2 text-sm text-red-600">{{ form.code.errors.0 }}</p>
        {% endif %}
      </div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          {% translate "Sign In" %}
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      {% translate "Other sign-in options" %}
      <a href="{% url 'account_login' %}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">{% translate "Sign in" %}</a>
    </p>
  </div>
</div>
{% endblock content %}

{% comment %} {% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% translate "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% translate "Enter Sign-In Code" %}
    {% endelement %}
    {% setvar email_link %}
        <a href="mailto:{{ email }}">{{ email }}</a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
    {% endelement %}
    {% url 'account_confirm_login_code' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% translate "Sign In" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% element h2 %}
        {% url 'account_login' as login_url %}
        {% element button href=login_url tags="link" %}
            {% translate "Other sign-in options" %}
        {% endelement %}
    {% endelement %}
{% endblock content %} {% endcomment %}
