{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
<div class="flex flex-grow flex-col px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-24 w-auto" src="{% static 'images/ShidduchMeLogo.png' %}" alt="ShidduchMe">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-indigo-600">{% trans "Change Password" %}</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="text-center">
      <p class="mt-6 text-base text-gray-700">
        {% trans 'Your password is now changed.' %}
      </p>
    </div>

    <div class="mt-10 text-center">
      <a href="{% url 'account_login' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">
        {% trans "Back to Login" %}
      </a>
    </div>
  </div>
</div>
{% endblock content %}

{% comment %} {% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
{% endblock content %} {% endcomment %}
