{% extends 'emails/base/email_base.html' %}

{% block content %}

<h1>Shadchan Application Accepted</h1>
<p>Hello {{ full_name }},</p>
<p>Congratulations! Your application to become a shadchan on ShidduchMe has been accepted.</p>
<p>You can now start using our platform to help singles in their search for their bashert. We're excited to have you on board and appreciate your commitment to this important mitzvah.</p>
<p>To get started, please log in to your account and familiarize yourself with the shadchan tools and features available to you.</p>
<p>If you have any questions or need assistance, please don't hesitate to contact our support team.</p>
<p>Thank you for joining ShidduchMe as a shadchan. We look forward to your valuable contributions to our community.</p>
<p>Best regards,<br>The ShidduchMe Team</p>

{% endblock content%}

