        <div class="footer">
            <p><strong>ShidduchMe</strong><br>Reshaping the Shidduch Landscape</p>
            <p>Questions? Contact us at:<br><a href="mailto:support@ShidduchMe.com">support@ShidduchMe.com</a></p>

            {% comment %}
            <div class="social-links">
                <a href="https://shidduchme.com/">Website</a>
                <a href="[YOUR_WHATSAPP_LINK]">WhatsApp</a>
                <a href="[YOUR_TELEGRAM_LINK]">Telegram</a>
            </div>
            {% endcomment %}

            <p class="disclaimer">
              This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error, please notify the system manager.
            </p>
            <p>
                {% comment %}<a href="[UNSUBSCRIBE_LINK]">Unsubscribe</a> | {% endcomment %}
                <a href="{{privacy_policy_url}}">Privacy Policy</a>
            </p>

            <p class="copyright">&copy; {% now "Y" %} ShidduchMe. All rights reserved.</p>

            <p class="disclaimer">
              ShidduchMe is a nonprofit initiative dedicated to enhancing the shidduch process through technology and community collaboration.
            </p>
        </div>