{% extends 'base/duplicate_base.html' %}
{% load widget_tweaks %}

{% block title %}Subscriptions{% endblock title %}

{% block content %}

<style>
  /* Fade out effect for rows being swapped */
  tr.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
    .table-container {
    max-height: 700px;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
  }
  
  .table-container table {
    width: max-content;
    min-width: 100%;
  }
  
  .table-container thead {
    position: sticky;
    top: 0;
    background-color: #f9fafb;
    z-index: 1;
  }

  .table-container th,
  .table-container td {
    white-space: nowrap;
  }
</style>
<div class="mx-auto max-w-7xl pt-0 lg:flex lg:gap-x-10 lg:px-8">
{% include "includes/settings_side_menu.html" %}
<section class="px-4 py-6 sm:px-6 lg:flex-auto lg:px-0 lg:py-10" x-data="{ open: false, filter: 'Bountys' }">

<div class="lg:flex lg:justify-items-start lg:justify-between align-baseline">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight text-indigo-600">
      {% comment %} :class="{ 'text-indigo-600': filter === 'Bountys', 'text-green-600': filter === 'Donations' }" {% endcomment %}
      <span x-text="filter === 'Bountys' ? 'Your Active Bountys' : 'Your Active Donations'"></span>
    </h2>
    <p class="mt-3 text-lg leading-8 text-gray-600 mb-2" x-text="filter === 'Bountys' ? 'List of active Bountys, the below list are bounty that were added by you to a singles account' : 'List of active Donations, the below list are donations made by you'"></p>
  </div>
  
  <div class="relative inline-block text-left">
    <div>
      <button @click="open = !open" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
        Subscription Type
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <div
      x-show="open"
      x-cloak
      @click.away="open = false"
      x-transition:enter="transition ease-out duration-100"
      x-transition:enter-start="transform opacity-0 scale-95"
      x-transition:enter-end="transform opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-75"
      x-transition:leave-start="transform opacity-100 scale-100"
      x-transition:leave-end="transform opacity-0 scale-95"
      class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none w-fit sm:mt-2"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <a @click="filter = 'Bountys'; open = false" :class="{ 'bg-gray-100 text-gray-900': filter === 'Bountys', 'text-gray-700': filter !== 'Bountys' }" href="#" class="block px-6 py-2 text-sm hover:bg-gray-100 hover:text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">Bountys</a>
        <a @click="filter = 'Donations'; open = false" :class="{ 'bg-gray-100 text-gray-900': filter === 'Donations', 'text-gray-700': filter !== 'Donations' }" href="#" class="block px-6 py-2 text-sm hover:bg-gray-100 hover:text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Donations</a>
        {% comment %} <a @click="filter = 'expired'; open = false" :class="{ 'bg-gray-100 text-gray-900': filter === 'expired', 'text-gray-700': filter !== 'expired' }" href="#" class="block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Expired</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>



  <div class="mt-8 flow-root" x-show="filter === 'Bountys'" x-cloak>
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">

      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">To User</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Amount</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Active</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Expiration Date</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
              <span class="sr-only">Action</span>
            </th>
          </tr>
        </thead>
            <tbody class="divide-y divide-gray-200">
            {% for subscription in subscriptions %}
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ subscription.to_user }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ subscription.amount }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ subscription.is_subscription_active }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ subscription.recurring_payment_expiration_date|default:"One Time" }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ subscription.created|date:"M d, Y" }}</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  {% if subscription.is_subscription_active %}
                    <button hx-post="{% url 'cancel_bounty_subscription' subscription.id %}"
                            hx-confirm="Are you sure you want to cancel the subscription for {{ subscription.to_user }}? Note: the full pledge amount will be permanently removed from {{ subscription.to_user }}'s account."
                            hx-target="closest tr"
                            hx-swap="outerHTML swap:1s"
                            type="button"
                            class="confirm-action bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                      Cancel Bounty
                    </button>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0" colspan="6">No subscriptions found.</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      </div>
    </div>
  </div>



  <div class="" x-show="filter === 'Donations'" x-cloak>

    <div>
      <div class="sm:flex sm:items-center">
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">

          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Number Of Months</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Amount</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Action</span>
                </th>
              </tr>
            </thead>
                <tbody class="divide-y divide-gray-200">
                {% for donation in donation_subscriptions %}
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ donation.number_of_months }}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ donation.amount }}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ donation.created }}</td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <button hx-post="{% url 'cancel_donation_subscription' donation.id %}"
                            hx-confirm="Are you sure you want to cancel your monthly donation"
                            hx-target="closest tr"
                            hx-swap="outerHTML swap:1s"
                            type="button"
                            class="confirm-action bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                      Cancel Donation
                    </button>
                </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0" colspan="4">No donations found.</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  


</section>
</div>

{% comment %} MODEL FOR HX-CONFIRM {% endcomment %}
<div id="confirmationModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Cancel Subscription</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500" id="modal-message"></p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <button type="button" id="confirmCancelSubscription" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Deactivate</button>
          <button type="button" id="cancelModal" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>



  <script>
document.addEventListener('htmx:confirm', function(evt) {
  if (!evt.target.classList.contains('confirm-action')) {
    return; // If not, exit the function and let the default confirmation happen
  }
  // Prevent the default confirmation dialog
  evt.preventDefault();
  
  // Get the modal elements
  const modal = document.getElementById('confirmationModal');
  const modalMessage = document.getElementById('modal-message');
  const confirmButton = document.getElementById('confirmCancelSubscription');
  const cancelButton = document.getElementById('cancelModal');

  // Set the modal message
  modalMessage.textContent = evt.detail.question;

  // Show the modal
  modal.classList.remove('hidden');

  // Handle the confirm button click
  confirmButton.onclick = function() {
    modal.classList.add('hidden');
    evt.detail.issueRequest(true);
  };

  // Handle the cancel button click
  cancelButton.onclick = function() {
    modal.classList.add('hidden');
  };
});

// Close the modal if the user clicks outside of it
window.onclick = function(event) {
  const modal = document.getElementById('confirmationModal');
  if (event.target == modal) {
    modal.classList.add('hidden');
  }
}
</script>
  {% endblock %}