{% load static %}


<html class="h-full">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}ShiddachMe{% endblock %}</title>
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'css/tailwind_output.css' %}" />
        <link rel="stylesheet" href="{% static 'css/multiSelect.css' %}" />
        <link rel="stylesheet" href="{% static 'css/select2.css' %}" />
        {% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> {% endcomment %}
		{% comment %} <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}"> {% endcomment %}
	</head>
	<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

	{% comment %} <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="this" hx-ext="alpine-morph" hx-swap="morph"> {% endcomment %}

		{% comment %} {% include 'base/menu.html'%} {% endcomment %}

		
		<main x-data="{ 
            title: 'Default Toast Notification', 
            description: '',
            type: 'default',
            position: 'top-center',
            expanded: false,
            popToast (custom){
                let html = '';
                if(typeof custom != 'undefined'){
                    html = custom;
                }
                toast(this.title, { description: this.description, type: this.type, position: this.position, html: html })
            }
        }" 
        x-init="
            window.toast = function(message, options = {}){
                let description = '';
                let type = 'default';
                let position = 'top-center';
                let html = '';
                if(typeof options.description != 'undefined') description = options.description;
                if(typeof options.type != 'undefined') type = options.type;
                if(typeof options.position != 'undefined') position = options.position;
                if(typeof options.html != 'undefined') html = options.html;
                
                window.dispatchEvent(new CustomEvent('toast-show', { detail : { type: type, message: message, description: description, position : position, html: html }}));
            }

            window.customToastHTML = `
                <div class='relative flex items-start justify-center p-4'>
                    <img src='https://cdn.devdojo.com/images/august2023/headshot-new.jpeg' class='w-10 h-10 mr-2 rounded-full'>
                    <div class='flex flex-col'>
                        <p class='text-sm font-medium text-gray-800'>New Friend Request</p>
                        <p class='mt-1 text-xs leading-none text-gray-800'>Friend request from John Doe.</p>
                        <div class='flex mt-3'>
                            <button type='button' @click='burnToast(toast.id)' class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-indigo-600 rounded shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'>Accept</button>
                            <button type='button' @click='burnToast(toast.id)' class='inline-flex items-center px-2 py-1 ml-3 text-xs font-semibold text-gray-900 bg-white rounded shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50'>Decline</button>
                        </div>
                    </div>
                </div>
            `
        "
        class="min-h-screen"
        hx-target="this" hx-ext="alpine-morph" hx-swap="morph"
		>
            {% comment %} this outer div is so we can target the messages on htmx responses {% endcomment %}
            <div id="site_alerts">
                {% if messages %}
                    {% include 'includes/general_notifications.html' with messages=messages %}
                {% endif %}
            </div>
            {% comment %} {% include 'includes/benner.html'%}  {% endcomment %}
            
            {% block content %} 
            
            {% endblock %}
	    </main>



        {% comment %} {% include 'base/footer.html'%} {% endcomment %}
		{% include 'base/base_js_imports.html' %}

	</body>
</html>
